/* You can add global styles to this file, and also import other style files */
/* body{
    background:url('/assets/cat1.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    
} */